.user-profile {

  .avatar {
    float: left;
  }

  .profile-top {
    overflow: hidden;
    padding: 5px;
  }

  .menu-links-header {
    width: initial;
    display: block;
    border-spacing: 0;

    a {
      display: inline-block;
      padding: 0.4em;
    }

    .menu-links-row {
      width: 100%;
      display: flex;
      margin: 0;
    }

    li:not(.glyphs) {
      display: initial;
    }

    a.user-activity-link {
      margin: initial;
    }

    .glyphs {
      display: initial;
      flex: 1;
    }
  }

  .profile-actions {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    &> .btn, .topic-notifications-button {
      border-radius: 4px;
      margin-top: 7px;
    }

    &> .btn {
      margin-right: 7px;
    }

    .topic-notifications-button {
      min-width: 80px;

      .select-kit {
        height: initial;

        .select-kit-header {
          padding: 3px 6px;
          font-size: 0.857em;
          line-height: 16px;
          height: initial;
        }
      }
    }

    .bookmark.bookmarked .d-icon-bookmark {
      color: $tertiary;
    }
  }
}
